<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Launch New Task</h5>
    </div>
    <div class="modal-body">
      <form id="launcher-form" method="POST" action="/launch">
        <label for="subdomain" class="col-md-3 text-right">subdomain</label>
        <input type="text" name="subdomain" value="" id="subdomain" class="col-md-7" placeholder="mybranch"
        required pattern="[a-zA-Z-][a-zA-Z0-9-]+">
        <p class="col-md-10">*Required</p>
        {{ range $param := .Parameters }}
        <label for="{{ $param.Name }}" class="col-md-3 text-right">{{ $param.Name }} </label>
        {{ if $param.Options }}
        <select name="{{ $param.Name }}" id="{{ $param.Name }}" class="col-md-7">
          {{ range $option := $param.Options }}
          <option value="{{ $option.Value }}" {{ if eq $option.Value $param.Default }}selected{{ end }}>{{ or $option.Label
            $option.Value }}</option>
          {{ end }}
          </select>
          {{ else }}
        <input type="text" name="{{ $param.Name }}" value="{{ $param.Default }}" id="{{ $param.Name }}" class="col-md-7"
          placeholder="your {{ $param.Name }}" {{ if $param.Required }}required{{ end }} />
        {{ end }}
        <p class="col-md-10">{{ if $param.Required }}*Required {{ else }} (optional) {{ end }}</p>
        {{ if $param.Description }}
        <span class="col-md-3"></span>
        <div class="col-md-7">
          <p>{{ $param.Description }}</p>
        </div>
        {{ end }}
    {{ end }}
    {{ range $i, $taskdef := .DefaultTaskDefinitions }}
      {{ if eq $i 0 }}
        <label for="taskdef" class="col-md-3 text-right">Task Definitions</label>
        {{ else }}
        <div class="col-md-3"></div>
        {{ end }}
        <input type="text" name="taskdef" value="{{ $taskdef }}" id="taskdef"
          class="col-md-7" placeholder="arn:aws:ecs:ap-northeast-1:123456789012:task-definition/myapp"
          required>
        <p class="col-md-10">*Required</p>
    {{ end }}
        <p class="col-md-10"></p>
        <p class="col-md-10 text-left">
          <input type="submit" class="btn btn-primary" value="Launch">
        </p>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>
