{{ if .error }}
<p>Error occurred while retreiving information. Detail: {{ .error }} </p>
{{ else }}

<form id="termination" method="POST" action="/terminate">
  <input type="hidden" name="subdomain" value="" id="terminate-subdomain">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-md-2">subdomain</th>
        <th class="col-md-2">branch</th>
        <th class="col-md-2">Task definition</th>
        <th class="col-md-2">Task ID</th>
        <th class="col-md-2">Started</th>
        <th class="col-md-2">Status</th>
        <th class="col-md-2 text-center">action</th>
      </tr>
    </thead>
    <tbody>
      {{ range $row := .info }}
      <tr>
        <td class="col-md-2">{{ $row.SubDomain }}</td>
        <td class="col-md-2">{{ $row.GitBranch }}</td>
        <td class="col-md-2">{{ $row.TaskDef }}</td>
        <td class="col-md-2">{{ $row.ShortID }}</td>
        <td class="col-md-2">{{if $row.Created.IsZero}}-
          {{ else }}{{$row.Created.Format "2006-01-02 15:04:05 MST"}}
          {{end}}</td>
        <td class="col-md-2">{{ $row.LastStatus }}</td>
        <td class="col-md-2 text-center">
          <button class="btn btn-danger terminate-button" hx-post="/terminate" hx-target="#terminate-subdomain"
            hx-trigger="click" hx-confirm="Are you sure you wish to terminate {{ $row.SubDomain }}?"
            hx-vals='{"subdomain": "{{ $row.SubDomain }}"}'
            onclick="this.addEventListener('htmx:afterRequest', function() { document.querySelector('#refresh-button').click(); });">Terminate</button>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  {{ end }}
